.app-drawer-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #7b7b7b91;

    .drawer{
        width: 25%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0;

        .drawer-header{
            display: flex;
            align-items: center;

            .header-title{
                width: calc(100% - 24px);
                text-align: left;
                font-weight: 700;
            }

            .close-icon{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}