.app-table{
    min-width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;

    .table-header{
        .table-header-cell{
            padding: 10px 8px;
            font-weight: normal;
            min-width: 150px;
        }

        .table-header-cell-title {
            width: calc(100% - 20px);
        }

        .table-column-sorting-icon{
            width: 12px;
            height: 24px;
            display: flex;
            flex-direction: column;

            .arrow-up, .arrow-down{
                height: 12px;
                width: 12px;
                cursor: pointer;

                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }

    .table-body{
        .table-body-row{
            border-top: 4px solid var(--bs-white);
            cursor: pointer;

            &:hover{
                .table-body-cell{
                    background-color: var(--bs-secondary) !important;
                }
            }

            .table-body-cell{
                padding: 8px;
                font-weight: normal;
                margin: 3px 0;
            }
        }

    }
}

.table-container{
    height: 390px;
    overflow: auto;
}


.arrow-right, .arrow-left{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
