.searchBar{
    .search-bar-container{
        width: 350px;
        display: flex;
        padding: 4px 8px;
        border-radius: 4px;

        .search-icon{
            font-size: 16px;
            margin-right: 16px;
        }
    }
    .searchBarInput{
        border: none;
        outline: none;
        width: calc(300px - 32px);

        &:focus{
            outline: none;
            border: none;
        }
    }
}